* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

// 页面基本框架
.wrapper {
  width: 980px;
  padding: 40px;
  border: 1px solid #d3d3d3;
  border-width: 0 1px;
  margin: 0 auto;
}
// 推荐页模块容器
.recm-wrapper{
  border: 1px solid #d3d3d3;
  width: 980px;
  padding: 20px;
  margin: 0 auto;
}
// 修改popper样式
.playlist-popper {
  transform: translate(475px, 194px) !important;
  padding: 0 !important;
  .el-popper__arrow {
    transform: translate(124px, 0px) !important;
  }
  .el-popper.is-light .el-popper__arrow::before {
    right: -78px;
  }
}